.is-done {
  text-decoration: line-through;
}
h1 {
  text-align: center;
}

header {
  background-color: slategrey;
  padding-top: 2em;
  padding-bottom: 2em;
}

.todos {
  margin-bottom: 5em;
  background-color: red
}
